<div class="container-fluid footer">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6">
            <h1>CVapp</h1>
        </div>
        <!-- nav -->
        <div class="col-lg-4">
            <a routerLink="Home"></a>
            <a routerLink="contact">Contact  </a>
            <a routerLink="About">À propos </a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2">
            <a href="https://m.facebook.com/home.php?_rdr" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.whatsapp.com/?lang=fr" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
