.top{
    background-image: url('../../../assets/img/manageC.jpg');
    height:400px;
    background-position: center top;
    background-size: cover;
 }
table{
    position: absolute;
    top:40%;
    left:20%
}
#profile{
    width: 500px;
}
h1{
    font-weight: bold;
    color:rgb(202, 53, 202);
    font-size: 40px;
    background-color: white;
}




#img{
    align-items: center;
    height:300px;
    width: 500px;
    position: absolute;
   left:30%;
    
}
        
