.top{
    background-image: url('../../../assets/img/mana.jpg');
    height:450px;
    background-position: center top;
    background-size: cover;
 }
table{
    position: absolute;
    top:47%;
    left:35%
}
#profile{
    width: 350px;
    position:relative;
    left: 90%;
}
#search{
    position:relative;
    left: 80%;

}
h1{
    font-weight: bold;
    color:rgb(202, 53, 202);
    font-size: 40px;
    position:relative;
    left: 40%;
}

.search{
     background-color: purple;
}


#img{
    align-items: center;
    height:300px;
    width: 500px;
    position: absolute;
   left:30%;
    
}
        
