<app-navbar></app-navbar>
<div class="container mt-5 mb-5"><br/><br/>
    <h1 class="text-center">CVapp</h1><br><br>
    <p>
        <b>CVapp   </b>est une  CVthèque <br/>c'est à dire une plateformes en ligne sur lesquelles les candidats peuvent déposer leur CV, afin qu’ils puissent être trouvés et consultés par des recruteurs.

        Il permet également aux recruteurs de diffuser des offres d’emploi, et aux candidats qui le souhaitent d’y postuler.  
        
        On parle également de CVthèque interne lorsqu’une entreprise crée sa propre CVthèque contenant toutes les candidatures qu’elle a reçues et les CV qu’elle a sourcé. Cependant, nous nous concentrerons ici sur les CVthèques externes qui permettent aux recruteurs de sourcer leurs candidatures en externe (hors cooptation).
    </p>
</div><br/><br/><br/><br/><br/><br/><br/><br/>
<app-footer></app-footer>