<app-navbar></app-navbar>
<!-- <div class="form-container mat-elevation-z5">
    <h1>Signup ("Recruteur")</h1>
  <form #f="ngForm" (ngSubmit)="register(f)" >
    <div class="mb-3">
        
        <input type="email" class="form-control"  placeholder="Nom"  name="flname" #flname="ngModel" ngModel required ><br/>
        <p class="alert alert-danger" role="alert" *ngIf=" (flname.dirty || flname.touched)&&flname.errors?.['required']">the name is required</p>
     </div>
    <div class="mb-3">
      
      <input type="email" class="form-control"  placeholder="Email address"  name="email" #email="ngModel" ngModel required  minlength="6" ><br/>
      <p class="alert alert-danger" role="alert" *ngIf=" (email.dirty || email.touched)&&email.errors?.['required']">the email is required</p>
      <p class="alert alert-danger" role="alert" *ngIf=" (email.dirty || email.touched)&&email.errors?.['minlength']">invalid email</p>
    </div>
    <div class="mb-3">
      
      <input type="password" placeholder="Password"  class="form-control"  name="password" #password="ngModel" ngModel required minlength="6"><br/>
      <p class="alert alert-danger" role="alert" *ngIf=" (password.dirty || password.touched)&&password.errors?.['required']">the password is required</p>
      <p class="alert alert-danger" role="alert" *ngIf=" (password.dirty || password.touched)&&password.errors?.['minlength']">the password must contain at least 8 characters</p>
    </div>
    <div class="mb-3">
      
        <input type="password" placeholder=" Comfirm Password" class="form-control" name="comfirmpassword" #comfirmpassword="ngModel" ngModel required>
        <p class="alert alert-danger" role="alert" *ngIf=" (comfirmpassword.dirty || comfirmpassword.touched)&&comfirmpassword.errors?.['required']">the comfirm password is required</p>
        <p class="alert alert-danger" role="alert" *ngIf=" (comfirmpassword.dirty || comfirmpassword.touched)&&comfirmpassword.value!==password.value">not equal</p>
      </div>
      <div class="center">
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign Up</button>
   </div>
  </form>
</div> -->


<div class="form-container mat-elevation-z5">
  <h1>Sign Up a New User!</h1>
  <form [formGroup]="signUpForm"  #f="ngForm" (ngSubmit)="Register(f)">
    <mat-form-field>
      <input matInput name="name" placeholder="Name" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  name="email"  placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Confirm Password is required
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        Passwords should match
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Sign Up!</button>
    </div>
  </form>
</div>

