
 html,body {
    height:100%;
}
body{
    margin:0;
    font-family: Roboto,"Helvetica Neve",sans-serif;

    }
    
.form-container{
    display: block;
    max-width: 450px;
    width: 40%;
    /* margin: auto; */
    background:#eceff1;
    padding:40px;
    border-radius: 16px;
    position: fixed;
    margin-top: 90px;
    left: 35%;
}

.form-container mat-form-field{
    width: 100%;
}
.center{
    display:flex;
    justify-content: center;
}
.margin-top{
    margin-top: 50px;
}
.text-center{
    text-align: center;
}  
button{
    justify-content: center;
}