html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
	}

.w3-opacity{
	font-size: 20px;
}
.nM{
	font-size: 23px;
	color: #878787;
}
.mois{

font-size: 15px;
position: absolute;
color:#07948c ;
font-weight: bold;
right:4%
}

.inf{

font-size: 18px;
}

.threeD {
	color: #07948c;
	white-space: nowrap;
	position: absolute;
	/* top: 50%; */
	left: 60%;
	transform: translate(-50%, -50%);
	font-size: 5.5em;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	transition: 0.3s;
	text-shadow: 1px 1px 0 #07948c, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
	  1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
	  5px 13px 15px black;
  }
  
  .threeD:hover {
	transition: 0.3s;
	transform: scale(1.1)translate(-50%, -50%);
	text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
	  1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
	  1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
  }
  