.banner{
    background-image: url('../../../assets/img/imghome2.jpg');
    height:650px;
    background-position: center top;
    background-size: cover;
 }
 .content h1{
     color: purple;
     font-size:50px;
     font-weight: bold;
   
    
 }
 .content{
     top:30%;
     left:10%;
     position:absolute;
 }
 .content a{
     text-decoration: none;
     background-color: purple;
     color: #fff;
    
     padding:15px 20px;
     border-radius:5px;
     font-weight: bold;
     position:absolute;
     left:40%;
 }
 .content a:hover{
    
     background-color: #fff;
     color: purple;
    
 
 }
 