
<div class="">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">CVapp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
             
             
              <li class="nav-item">
                <a class="nav-link" class="hov" (click)="goToManageC()" id="impo3" routerLinkActive="active-link" >  Les Candidats    </a>
              </li>
             
              
              <li class="nav-item">
                
                <button class="hov" id="impo4" mat-button [matMenuTriggerFor]="userMenu">
                  <!-- <mat-icon>account_circle</mat-icon>
                  {{Nom}} -->
                  <img class="profile-image-toolbar" width="30" height="30" [src]="PhotoURL ?? 'assets/img/imageplch.jpg'">
                  {{Nom}}
                  <mat-icon>expand_more</mat-icon>
                </button>
              </li> 
              
            </ul>
          </div>
        </div>
      </nav>
      
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)=" gotoprofile()" >Mon profile</button>
      <button mat-menu-item (click)=" gotoAnnonce()" >Mes annonces</button>
      <button mat-menu-item (click)=" goCreatoAnnonce()" >+ Annonce</button>
      <button mat-menu-item (click)="logout()">Déconnexion</button>
      
    </mat-menu>