
<app-navcan></app-navcan><br/><br/><br/><br/>
<!-- <div class="d-flex justify-content-center " *ngFor="let annonce of dataArray">
    <div class="card" >
        <div class="card-header">
          {{annonce.NomEntreprise}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Date:{{annonce.DateAnnonce}}</h5><br/>  
            <p class="card-text">{{annonce.Description}}</p><br/>  <br/>
          <h5 class="card-title">pour le contact : {{annonce.Email}}</h5>         
          <button class="btn btn-success" (click)="addC(annonce.id)">Déposer mon CV</button>

        </div>
      </div>
    </div>  -->



   
      
      <div class="d-lg-flex">
        <div class="row">
         
          <div class="card border-0 me-lg-4 mb-lg-0 mb-5"*ngFor="let annonce of dataArray">
            <div id ="header" class="card-header">
              {{annonce.NomEntreprise}}
              <span><i class="bi bi-three-dots"></i></span>
            </div>
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class="" [src]="annonce.image" alt="">
                  <div class="date"> <span class="day">{{annonce.DateAnnonce}}</span> </div>
              </div>
              <div class="content"><br/>
                 
                  <p class="text-muted mt-3">{{annonce.Description}}</p>
                  <p class="text-muted mt-3">Pour le contact :{{annonce.Email}}</p>  
                  <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                   
                    <button class="btn btn-success" (click)="addC(annonce.id,$event)">Déposer mon CV</button>

                  </div>
                 
              </div></div>
          </div>
        </div>   
   
 