
<app-navcan></app-navcan><br/><br/><br/><br/>
<div class="d-flex justify-content-center " *ngFor="let annonce of dataArray">
    <div class="card" >
        <div class="card-header">
          {{annonce.NomEntreprise}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Date:{{annonce.DateAnnonce}}</h5><br/>  
            <p class="card-text">{{annonce.Description}}</p><br/>  <br/>
          <h5 class="card-title">pour le contact : {{annonce.Email}}</h5>         
          <button class="btn btn-success" (click)="addC(annonce.id)">Déposer mon CV</button>

        </div>
      </div>
    </div> 